<div class="container-fluid search_view">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 contents">
            <h3 class="search_result">'<%= @keyword %>'の検索結果</h3>
            <% if current_user %>
                <% @posts.each do |post| %>
                    <div class="post">
                        <p><%= post.user.name %></p>
                        <p><span class="category"><%= post.style %></span><span class="category"><%= post.subject %></span><span class="category"><%= post.grade %></span></p>
                        <p class="post_title"><%= post.title %></p>
                        <p class="post_content"><%= post.contents %></p>
                        <% if current_user.already_liked?(post) %>
                            <p><i class="fa fa-heart" style="color: red;" aria-hidden="true"></i><%= post.liked_users.count %></p>
                        <% else %>
                            <p><i class="far fa-heart" style="color: red;" aria-hidden="true"></i><%= post.liked_users.count %></p>
                        <% end %>
                        <p class="created_at"><%= post.created_at %></p>
                        <a href="/posts/<%= post.id %>/show"></a>
                    </div>
                    <br>
                <% end %>
            <% else %>
                <% @posts.each do |post| %>
                    <div class="post">
                        <p><%= post.user.name %></p>
                        <p><span class="category"><%= post.style %></span><span class="category"><%= post.subject %></span><span class="category"><%= post.grade %></span></p>
                        <p class="post_title"><%= post.title %></p>
                        <p class="post_content"><%= post.contents %></p>
                        <p><i class="far fa-heart" style="color: red;" aria-hidden="true"></i><%= post.liked_users.count %></p>
                        <p class="created_at"><%= post.created_at %></p>
                        <a href="/posts/<%= post.id %>/show"></a>
                    </div>
                    <br>
                <% end %>
            <% end %>
        </div>
        <div class="col-md-2"></div>
        
    </div>   
</div>