<div class="jumbotron jumbotron-extend message-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5 col-xs-12">
                <h1 class="message message_title">How To Teach</h1>
                <p class="message">「教え方がわからない」</p>
                <p class="message">「なんで理解してくれないの？」</p>
                <p class="message">そういった先生たちの悩みを解決するサイトです。</p>
            </div>

            <div class="col-lg-7">
                <img src="/images/workshop-1746275_960_720.jpg" class="top_teaching_img" alt="">
            </div>
        </div> 
    </div>
</div>
<div class="container-fluid">
    
    <div class="row help-wrapper">
        <div class="col-md-1"></div>
        <div class="col-md-5 col-xs-12 help">
            <h3 class="help_title">参考にする</h3>
            <br>
            <img src="/images/kako-5DcyP7JVzyToIl2P.png" class="help_img" alt="">
            <p class="help_info">メニューの”投稿一覧”から先輩講師のエピソードを探しましょう</p>
            <p class="help_info">参考になる投稿を見つけたら、早速自分の生徒に活かしましょう<br>また、いいねを押してユーザーに感謝を伝えましょう</p>
        </div>
        <div class="col-md-5 col-xs-12 help">
            <h3 class="help_title">投稿する</h3>
            <p class="help_info">講師としてある程度経験がある方は、<br>後輩のために自身の経験を投稿しましょう<br>成功例でも失敗談でもなんでも構いません</p>
            <img src="/images/kako-mSeeM0EtcUAlysp8.png" class="help_img" alt="">
            <p class="help_info">ログインし、メニューの新規投稿から投稿しましょう<br>きっとあなたの経験が役に立つはずです！</p>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
<div class="container-fluid popular_posts">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 col-xs-12">
            <h2 class="title">人気の投稿<%= @result_size %></h2>
            <% unless @posts.nil? %>
                <% if current_user %>
                    <% [@first, @second, @third].each do |post| %>
                        <div class="post">
                            <p class="user_name"><%= post.user.name %></p>
                            <p><span class="category"><%= post.style %></span><span class="category"><%= post.subject %></span><span class="category"><%= post.grade %></span></p>
                            <p class="post_title"><%= post.title %></p>
                            <p class="post_content"><%=safe_join(post.contents.split("\n"),tag(:br))%></p>
                            <% if current_user.already_liked?(post) %>
                                <p><i class="fa fa-heart" style="color: red;" aria-hidden="true"></i><span class="like_count"><%= post.liked_users.count %></span></p>
                            <% else %>
                                <p><i class="far fa-heart" style="color: red;" aria-hidden="true"></i><span class="like_count"><%= post.liked_users.count %></span></p>
                            <% end %>
                            <p class="created_at"><%= post.created_at %></p>
                            <a href="/posts/<%= post.id %>/show"></a>
                        </div>
                    <% end %>
                <% else %>
                    <% [@first, @second, @third].each do |post| %>
                        <div class="post">
                            <p class="user_name"><%= post.user.name %></p>
                            <p><span class="category"><%= post.style %></span><span class="category"><%= post.subject %></span><span class="category"><%= post.grade %></span></p>
                            <p class="post_title"><%= post.title %></p>
                            <p class="post_content"><%=safe_join(post.contents.split("\n"),tag(:br))%></p>
                            <p><i class="far fa-heart" style="color: red;" aria-hidden="true"></i><span class="like_count"><%= post.liked_users.count %></span></p>
                            <p class="created_at"><%= post.created_at %></p>
                            <a href="/posts/<%= post.id %>/show"></a>
                        </div>
                        <br>
                    <% end %>
                <% end %>
            <% end %>
        </div>
        <div class="col-md-2"></div>   
    </div>
</div>