<div class="jumbotron jumbotron-extend">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <h1 class="message">How To Teach</h1>
                <p class="message">説明</p>
            </div>

            <div class="col-md-7">
                <img src="/images/index_intro_sp-img.png" alt="">
            </div>
        </div> 
    </div>
</div>
<div class="container-fluid popular_posts">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h2 class="title">人気の投稿<%= @result_size %></h2>
            <% unless @posts.nil? %>
                <% if current_user %>
                    <% [@first, @second, @third].each do |post| %>
                        <div class="post">
                            <p><%= post.user.name %></p>
                            <p><span class="category"><%= post.style %></span><span class="category"><%= post.subject %></span><span class="category"><%= post.grade %></span></p>
                            <p class="post_title"><%= post.title %></p>
                            <p class="post_content"><%= post.contents %></p>
                            <% if current_user.already_liked?(post) %>
                                <p><i class="fa fa-heart" style="color: red;" aria-hidden="true"></i><%= post.liked_users.count %></p>
                            <% else %>
                                <p><i class="far fa-heart" style="color: red;" aria-hidden="true"></i><%= post.liked_users.count %></p>
                            <% end %>
                            <p class="created_at"><%= post.created_at %></p>
                            <a href="/posts/<%= post.id %>/show"></a>
                        </div>
                    <% end %>
                <% else %>
                    <% [@first, @second, @third].each do |post| %>
                        <div class="post">
                            <p><%= post.user.name %></p>
                            <p><span class="category"><%= post.style %></span><span class="category"><%= post.subject %></span><span class="category"><%= post.grade %></span></p>
                            <p class="post_title"><%= post.title %></p>
                            <p class="post_content"><%= post.contents %></p>
                            <p><i class="far fa-heart" style="color: red;" aria-hidden="true"></i><%= post.liked_users.count %></p>
                            <p class="created_at"><%= post.created_at %></p>
                            <a href="/posts/<%= post.id %>/show"></a>
                        </div>
                        <br>
                    <% end %>
                <% end %>
            <% end %>
        </div>
        <div class="col-md-3"></div>   
    </div>
</div>